$color-white: #fff;
/* Colors */
$color_white:#ffffff;
$color_gray_dark: rgba(119, 119, 119, 1);
$color_light_black: rgba(0, 0, 0, 0.1);
$color_nav_primary: #15bde4;
$color_btn_blue_primary: #00cfff;
$color_btn_blue_primary_dark: #00A2C8;
$color_btn_gray:#F1F1F1;

/* Grid */

$grid_width: 114rem;
$vertical-gutter: 5rem;
$horizontal-gutter:6rem;
$horizontal-gutter-thin:1rem;

$screen-desktop: 83.5625em; //1335px
$screen-desktop1: 80em; //1280px
$screen-desktop2: 76.25em; //1220px
$screen-desktop3: 68.75em;//1100px
$screen-ipad-pro: 64.062em; //1025px
$screen-ipad:61.3125em;//981px
$screen-ipad1:57.25em;//920px
$screen-mobile: 56.25em;//900px
$screen-mobile--small: 37.5em;//600px
$screen-mobile--smallest: 28.125em;//450px


.myflatById{
  display: grid;
  margin-left: 18%;
  width: 82%;
  height: calc(100vh - 7rem);
  @media only screen and (max-width: 1025px){
    margin-left: 0;
    width:100%;
 
  }
 
  @media only screen and (max-width:850px){
    grid-template-columns: 100%;
    position: relative;
  }
  .divbutton{
    float: right;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
  }
  .midContainer{
    
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 50px 1fr;
    height: calc(100vh - 7rem);
    position: relative;
    overflow-y: scroll;
    width: 100%;

    @media only screen and (max-width:850px){
      grid-column: 1/-1;
      height: calc(100vh - 70px);
    }

    table {
      width: -webkit-fill-available;
      size: auto;
      border-block-end-color: inherit;
      border-bottom-style: ridge;
      background-color: #e8efe7;
      font-family: arial, sans-serif;
      border-collapse: collapse;
    }  
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr{
      font-size: 18px;
    }
    
    .subHeading{
      padding-top: 30px;
      text-align: center;
      font-size: 28px;
    }

    &__button{
      position: absolute;
      top: calc(100% - 7rem);
      left: calc(100% - 7rem);
      width: fit-content;
      height: fit-content;
      background-color: transparent;
      outline: none;
      @media only screen and (max-width:760px) {
        top: calc(100% - 14rem);
      }
      &--btn{
        border-radius: 50%;
        border: none;
        outline: none;
        z-index: 2;
        &--img{
          border-radius: 50%;
          height: 5.5rem;
          width: 5.5rem;

        }
      }
    }



    &__head {
      grid-row:1/2 ;
      height: 5rem;
      border-left: 1px solid #eee;
      border-right: 1px solid #eee;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media only screen and (max-width: 790px) {
        position: fixed;
        width: 100%;
        background-color: #fff;

      }

      &--field {
        display: flex;
        width: 50%;
        border: 1px solid rgb(214, 211, 211);
        padding: .5rem;
        border-radius: 4px;
        margin-left: 3%;


        &--input {
          border-radius: 4px;
          border: none;
          width: 100%;
          margin-left: 5%;
        }

        &--input::-webkit-input-placeholder {
          font-size: 1.2rem;
          color: #c4c0c0;
        }
      }

      &--filter {
        
        display: flex;
        align-items: center;
        position: relative;
        height: 5rem;

        &--para {
          margin-right: 1.5rem;
        }

        &--logo {
          margin-right: .5rem;
          display: inline-block;
          transform: rotate(90deg);
        }

      }

    }

    &__body{
      grid-row: 2/-1;
      background-color: #ececec;
      padding: 1rem 3%;
      height: 100%;
      .contentMid:hover{
        border: 2px solid #00A2C8;
        color: #00A2C8;
      }
      .contentMid{
        height: 5rem;
        padding-left: 1.5rem;
        border-radius: 4px;
        background-color: $color_white;
        margin-bottom: .5rem;
        display: grid;
        grid-template-columns: 18% 18% 18% 28%  18%;
        
        &__active{
          border: 2px solid #15bde4;
          .text1{
            color: #00A2C8;
          }
          .text2{
            color: #00A2C8;
          }
          .text3{
            color: #00A2C8;
          }
          .text4{
            color: #00A2C8;
          }
        }
        @media only screen and (max-width:1100px){
          padding-left: .8rem;
        }

        .text1{
          grid-column: 1/2;
          display: flex;
          align-items: center;
          white-space: nowrap; 
          width: 90%; 
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .text2{
          grid-column: 2/3;
          display: flex;
          align-items: center;
          white-space: nowrap; 
          width: 90%; 
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .text3{
          text-align: left;
          grid-column: 3/4;
          display: flex;
          align-items: center;
          white-space: nowrap; 
          width: 90%; 
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .text4{
          grid-column: 4/5;
          display: flex;
          align-items: center;
          white-space: nowrap; 
          width: 90%; 
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .text5{
          grid-column: 5/-1;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
        }
        .text{
          font-size: 1.2rem;
        }
        .iconText{
          fill: $color_nav_primary;
        }
        .icon{
          height: 1.7rem;
        }
        .activate{
          color: $color_btn_blue_primary_dark;
        }
      }
      .active{
        margin-top: 1.2rem ;
      }
    }

  }
  .rightContainer{
    @media only screen and (max-width:850px){
      grid-column: 1/-1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background-color: #fff;
      display: block;
    }
    grid-column: 2/-1;
    height: calc(100vh - 7rem);
    .detail{
      display: grid;
      grid-template-rows: 5rem 1fr;
      height: calc(100vh - 7rem);
      .dhead{
        grid-row: 1/2;
        display: flex;
        align-items: center;
        padding: 0 3rem;
        
        .dback{
          justify-self: flex-start;
          font-size: 1.7rem;
        }
        .dcand{
          justify-items: center;
          font-size: 1.7rem;
        }
      }
      .dheadActive{
        border-bottom: 1px solid #eee;

      }
      .content{
        grid-row: 2/-1;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      .dcontentt{
       
        display: grid;
        grid-template-columns: 41% 59%;
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 2rem;
        justify-content: center;
        margin-top: 3rem;
        padding-left: 2rem;
        overflow: scroll;
        height: 50%;
        width: 90%;
        @media only screen and (max-width:850px){
          width: 70%;
        margin-left: 10%;
        }
        @media only screen and (max-width:500px){
          width: 80%;
        margin-left: 10%;
        }
        &::-webkit-scrollbar{
          display: none;
        }
        .detailText{
          font-size: 1.4rem;
          text-align: left;
        }
        .dtext1{ grid-row: 1/2; grid-column: 1/2; padding-left: 1rem ;}
        .dtext2{ grid-row: 1/2; grid-column: 2/-1; }

        .dtext3{ grid-row: 2/3; grid-column: 1/2; padding-left: 1rem ;}
        .dtext4{ grid-row: 2/3; grid-column: 2/-1;}

        .dtext5{ grid-row: 3/4; grid-column: 1/2; padding-left: 1rem ;}
        .dtext6{ grid-row: 3/4; grid-column: 2/-1; }

        .dtext7{ grid-row: 4/5; grid-column: 1/2; padding-left: 1rem ;}
        .dtext8{ grid-row: 4/5; grid-column: 2/-1; }

        .dtext9{ grid-row: 5/6; grid-column: 1/2; padding-left: 1rem ;}
        .dtext10{ grid-row:5/6; grid-column: 2/-1; }

      }
      .dbuttonn{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
      
      .dbutton{
        font-size: 1.2rem;
        border: none;
        border-radius: 4px;
        margin: 2rem 1rem;
        width: 40%;
        @media only screen and (max-width:850px){
          width: 30%;
          
        }
      }
      .blue_button{
        background-color: $color_btn_blue_primary_dark;
        color: $color_white;
        margin-left:1rem ;
        text-transform: uppercase;
        padding: 1.3rem 0;

      }
      .grey_button{
        background-color:  #ececec;
        color: black;
        padding: 1.3rem 0;

      }
    }
  }
      .editContent{
        grid-row: 2/-1;
        overflow: scroll;
        height: 100%;
        padding: 0 5.5rem;
        &::-webkit-scrollbar{
          display: none;
        }
        @media only screen and (max-width:1100px){
          padding: 0 3.5rem;
        }
        @media only screen and (max-width:1045px){
          padding: 0 3rem;
        }
      }
      
      .editText{
        font-size: 2.4rem;
        margin-top: 3rem;
        @media only screen and (max-width:1100px){
          font-size: 2.2rem;
        }
      }
      .editContentForm{
        margin-top: 4rem;
        .blue_button{
          background-color: $color_btn_blue_primary_dark;
          color: $color_white;
          margin-left:1rem ;
          text-transform: uppercase;
          padding: 1.3rem 0;
  
        }
        .grey_button{
          background-color:  #ececec;
          color: black;
          padding: 1.3rem 0;
  
        }
        .dbutton{
          font-size: 1.2rem;
          border: none;
          border-radius: 4px;
          margin: 2rem 1rem;
          width: 40%;
          @media only screen and (max-width:850px){
            width: 30%;
            
          }
        }
        .btn{
          margin-top: 3rem;
        }
        .editUp{
          margin-right: 3.5rem;
          margin-left:0;
          @media only screen and (max-width:1045px){
            margin-right: 2rem;
          }
        }
      }
      .editInput{
        background-color: #ececec;
        display: block;
        display: flex;
        width: 100%;
        padding: 1.5rem;
        border: none;
        border-radius: 4px;
        margin-bottom: .5rem;
        outline: none;
      }
      .select--opt{
        background-color: #ececec;
        display: block;
        display: flex;
        width: 100%;
        padding: 1.5rem;
        border: none;
        border-radius: 4px;
        margin-bottom: .5rem;
      }
      
      .editInput::-webkit-input-placeholder{
        font-size: 1.2rem;
        color: #c4c0c0;
      }
      .editInput::-webkit-input-value{
        color: $color_light_black;
      }
      .editInput--pass::-webkit-input-value{
        color: $color_light_black;
      }
      .editActive{
        margin-bottom: 1rem ;
      }
      .editForm{
        position: relative;
      }
     
      .editButton{
        position: absolute;
        top: .49rem;
        right: .4rem;
        border: none;
        border-radius: 4px;
        padding: 1rem 3rem;
        background-color: #fff;
        color: $color_light_black;

      }
      .editVerified{
        padding: 0 .75rem;
      }
      .editIcon{
        position: absolute;
        top: 1rem;
        right: 1rem;
        display: inline-block;
        transform: rotate(90deg);
      }
      .editLink:link,
      .editLink:visited{
        text-decoration: none;
        color:black;
        font-size: 1.2rem;
      }
      .editUpdate{
        margin-top: 4rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
      .btn{
        margin-top: 3rem;
      }
      .editUp{
        margin-right: 3.5rem;
        margin-left:0;
        @media only screen and (max-width:1045px){
          margin-right: 2rem;
        }
      }
    }
  }
  .rightContainerEmpty{
    grid-column: 2/-1;
    background-color: white;
    padding-top: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: calc(100vh - 7rem);
    @media only screen and (max-width:850px){
      display: none;
    }
    .editText{
      font-size: 2.3rem;
      text-align: center;
    }
    .image{
      margin-bottom: 4rem;
    }
  }
}

.pointer{
  cursor: pointer;
}