* {
  margin: 0;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, .2) hsla(0, 0%, 100%, .1);
}

/*For Safari Chrome */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  display: block;
}

::-webkit-scrollbar-thumb {
  background: #C0C0C0;
}

body {
  margin: 0;
  font-family: 'Cambria', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.login-form {
  justify-content: center;
  min-height: 90vh;
}

.button-block {
  width: 100%;
}

.login-background {
  justify-content: center;
  min-height: 30vh;
  padding: 50px;
}

.errorMsg {
  color: #D8000C;
  background-color: #FFBABA;
}

.errorLabel {
  color: red;
  position: absolute;
  left: 155px;
  top: 45px;
  font-size: 13px;
}

.noData {
  text-align: center;
}

.noData>svg {
  margin: 5px;
  border-radius: 50px;
}

.noData>.noDataText {
  font-size: 1.5rem;
  color: #637390;
  display: block;
}

.allignRight {
  text-align: right!important;
}

.wid30 {
  width: 30%;
}

.wid23 {
  width: 23%;
}

.billsHeading {
  display: flex;
  justify-content: space-between;
}

.billsSubHeading {
  font-size: 2.4rem;
  margin-left: 1.5rem;
  color: #637390;
}

.materialBtn {
  display: inline-flex!important;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.materialBtn>.MuiSvgIcon-root {
  font-size: 2rem !important;
  margin-right: 0.4rem;
}

.MuiSvgIcon-root {
  cursor: pointer;
}

.wid100 {
  width: 100%!important;
}

.bd-rad {
  border-radius: 0.9rem!important;
}

.MuiAutocomplete-inputRoot {
  padding: 3%!important;
}

.error {
  color: red;
  text-align: center;
  font-size: 12px;
  margin-top: 5px;
}

.success {
  color: green;
  text-align: center;
  font-size: 12px;
  margin-top: 5px;
}

.justify-center {
  justify-content: center;
}

.generateBillTable {
  height: 400px;
}

.generateBillTable td {
  padding: 2px;
  text-align: center;
}

.generateBillTable td:nth-child(2n) {
  width: 22rem;
  text-align: center;
}

.generateBillTable thead td {
  text-align: center;
  text-decoration: wavy;
  font-weight: 900
}

.successBill {
  color: green;
  text-align: center;
  font-size: 12px;
  height: 282px;
  overflow: scroll;
}